.alert{

position:absolute;

top:40px;

right:-450px;

display:flex;

align-items:center;

gap:20px;

padding:18px 24px;

width:420px;

border-radius:22px;

opacity:0;

transition:
right .6s ease,
opacity .6s ease;

}

.alert.show{

right:40px;

opacity:1;

}

.alert-avatar{

width:72px;

height:72px;

border-radius:50%;

border:3px solid #00d4ff;

box-shadow:0 0 20px #00d4ff;

object-fit:cover;

}

.alert-content h2{

font-size:26px;

color:#00d4ff;

margin-bottom:6px;

}

.alert-content p{

font-size:18px;

color:#ffffff;

}
