.goal-container{

position:absolute;

top:30px;

left:50%;

transform:translateX(-50%);

width:700px;

padding:20px;

border-radius:22px;

}

.goal-header{

display:flex;

justify-content:space-between;

font-size:22px;

margin-bottom:15px;

}

.progress{

height:22px;

background:rgba(255,255,255,.12);

border-radius:999px;

overflow:hidden;

}

.progress-fill{

height:100%;

width:25%;

border-radius:999px;

background:linear-gradient(
90deg,
#00d4ff,
#53d8ff
);

box-shadow:

0 0 20px #00d4ff;

transition:.6s;

}
